page-authsuccess {
    .blockstyle {
        background: linear-gradient(#1a9df9, #00bfe3);
        color: white;
        height: 100%;
        text-align: center;
    }
    .centerimage {
        width: 100%;
        height: 100%;
        margin-top: 25%;
    }
}