page-introslides {
    .centerimage {
        width: 110px;
        height: 110px;
    }
    .centertext {
        text-align: center;
        color: #778aa2;
        padding: 12px;
        font-size: 3.5vw;
    }
}