page-otp {
    .blockstyle {
        background: linear-gradient(#1a9df9, #00bfe3);
        color: white;
        height: 40%;
        text-align: center;
    }
    .centerimage {
        width: 97px;
        height: 104px;
    }
    .centercontent {
        margin-left: 6%;
        padding-top: 7%;
    }
    .flagimg {
        width: 15px;
        height: 10px;
    }
}