page-idchallenge {
    .blockstyle {
        background: linear-gradient(#1a9df9, #00bfe3);
        color: white;
        height: 45%;
        text-align: center;
    }
    .centerimage {
        height: 90px;
        width: 110px;
    }
    .centersecurityimage {
        height: 100px;
        width: 90px;
        margin-left: 35%
    }
    .centercontent {
        margin-left: 5%;
        padding-top: 11%;
    }
    .flagimg {
        width: 15px;
        height: 10px;
    }
}